#loading-spinner {
    color: rgb(232, 207, 255);
    background-color: rgba(255, 192, 203, 0.35);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}
