.form-label {
    color: rgb(255, 255, 255);
    backdrop-filter: blur(50px);
    border-radius: 5px;
    padding: 2%;
}
.submit-btn {
    background-color: rgb(247, 70, 158);
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
}

.submit-btn:hover {
    background-color: rgb(208, 20, 255);
    color: white;
}

.submit-btn:active {
    /*important på dessa eftersom vi stylade om knappen själva, kanske kunde byggt en egen knapp från början när man är efterklok*/
    background-color: rgb(132, 6, 163) !important;
    color: white !important;
}